<h1>お問い合わせフォーム</h1>

<div class="panel panel-default">
<div class="panel-body">
<div class="row">
<div class="col-sm-12">
  <%= form_for(@contact, method: :post) do |f| %>
  <p>本システムに関する、ご意見、ご感想をお寄せください。</p>

  <div class="form-group">
    <label class="control-label" for="">お名前</label>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label class="control-label" for="">ご意見、ご感想</label>
    <%= f.text_area :content, rows: 5, class: 'form-control' %>
  </div>

  <%= f.submit '運営者に意見を送る', class: 'btn btn-default', data: { disable_with: '問い合わせ中...' } %>
  <% end %>
</div>
</div>
</div>
</div>
