<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-search"></i> 検索条件</h3>
  </div>
  <div class="panel-body">
    <%= yield %>
  </div>
</div>
